@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');
* {
  font-family: "Abel", serif;
}
body {
    background-color: #F0F0F0;
}
h1 {
  font-family: "Anton", serif;
  font-size: 64px;
}
h2 {
  font-family: "Anton", serif;
  font-size: 48px;
}
h3 {
  font-family: "Anton", serif;
  font-size: 40px;
}
h4 {
  font-family: "Anton", serif;
  font-size: 32px;
}
h5 {
  font-family: "Anton", serif;
  font-size: 28px;
}
.circle-stuff {
  box-sizing: border-box;
  height: 105px;
  width: 105px;
  border: white solid 5px;
  border-radius: 50%;
  text-align: center;
  margin: 5px 10px;


}
.line-break {
  flex-basis: 100%;

}

/*#four-con {*/
/*  justify-content: center;*/
/*  align-content: space-between;*/
/*}*/
.design {
  background-color: #E6563B;

}

.develop {
  background-color: #DE9F3D;
}

.support {
  background-color: #7CB06C;
}

.host {
  background-color: #00ABA9;
}
#text-center1 {
  padding-top: 33px;
  font-family: "Anton", serif;
}

.featured{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  font-weight: 900;
  padding: 0;
}



.featured-image {
  border: solid 5px #E6E6E6;
  border-radius: 2px;
  flex-basis: 100%;
  height: 100%;
  object-fit: cover;

}
.featured-text {
  display:flex;
  margin:0;
  flex-basis: 100%;

}

.circleLetter {
  box-sizing: border-box;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  text-align: center;
  margin:0 5px;
  font-size: 12px;

}
.featured-design {
  margin-left: auto;
}

.circleLetter-center {
  font-family: "Anton", serif;
  height: 18px;
  width: 18px;
  padding-left: 1px;
}


@media (min-width: 576px) {
  .circle-border {
    padding-bottom: 10px;
    border-bottom: 3px #E6E6E6 solid;
  }

  .featured-boxes {
    /*height: 244px;*/
    /*width: 326px;*/
    margin-top: 3em;
    flex-basis: 50%;
    background-color: blue;
    /*justify-content: center;*/

  }
  .featured{
    background-color: lime;
  }

  .mainFeaturedBox {
    display: flex;
    justify-content: center;
    align-content: space-around;
    background-color: hotpink;
  }

}

@media (min-width: 720px) {

  .the-last-text {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-content: space-between;*/
  }
  .the-last-bold {
    font-family: "Anton", serif;
    font-size: 20px;

  }

  .the-last-pic {
    width: 64px;
    height:56px;
    margin-right: 15px;
    border: solid 5px #E6E6E6;
    border-radius: 2px;

  }

  .the-last-heading {
    display: flex;
  }
  .twitter {
    margin-right: 10px;
    color: #1DA1F2;
  }
  .twitter-top {
    margin-bottom: 10px;
  }
}

@media (min-width: 960px) {
  body{
    padding: 3em 7em;
  }
}

